<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
          <li class="nav-item"><a routerLink="dashboard"  class="nav-link active" aria-current="page">dashboard</a></li>
          <li class="nav-item"><a routerLink="employee"  class="nav-link">employee</a></li>
        <li class="nav-item"><a routerLink="project"   class="nav-link">Project</a></li>
        <li class="nav-item"><a routerLink="project-employee"   class="nav-link">project employee</a></li> 
      </ul>
      <button (click)="logout()">Logout</button>
    </header>
    <router-outlet></router-outlet>
  </div>
